.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  background-color: lightgreen;
  padding:20px;
  height: 10%;
  width:100vw;
}

.navButtons{
  background-color: rgb(88, 136, 37);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.change{
  color: white;
}




.infoContainer{
  display: flex;
  height: 85vh;
  width: 100vw;
}
.List{
  overflow: hidden;
}
.firstColumn{
  position: relative;
  border: grey 1px solid;
  height: 100vh;
  width: 1vw;
  transition: all ease-in-out .4s;
  z-index: 1;
}
.firstColumn:hover{
  width: 20vw;
  overflow: hidden;
}

.secondColumn{
  position: relative;
  border: grey 2px solid;
  height: 100vh;
  width: 100vw;
}




.loginForm{
  height:100vh;
  width:100vw;
}